* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
.navbar {
  background-color: red;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1rem 1rem;
}
.navbar-inside-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.hamBurger_with_branding {
  display: flex;
  justify-content: space-between;
}

.hamBurger-btn {
  background-color: transparent;
  border: 0;
  padding-left: 20px;
  cursor: pointer;
}

.hamBurger-btn.open-ham svg #top-line {
  transform: skewY(28deg);
  transition: all 0.2s ease-in;
}

.hamBurger-btn.open-ham svg #middle-line {
  transform: translateX(35px);
  transition: all 0.3s ease-out;
}

.hamBurger-btn.open-ham svg #last-line {
  transform: skewY(-28deg);
  transition: all 0.2s ease-in;
}

.hamBurger-btn.close-ham svg #top-line {
  transform: skewY(0deg);
  transition: all 0.2s ease-in;
}

.hamBurger-btn.close-ham svg #middle-line {
  transform: translateX(0px);
  transition: all 0.3s ease-out;
}

.hamBurger-btn.close-ham svg #last-line {
  transform: skewY(0deg);
  transition: all 0.2s ease-in;
}

.navbar-links-ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  width: 50vw;
  flex-wrap: wrap;
}

.navbar-links {
  margin-left: 1rem;
  margin-right: 1rem;
}
.navbar-links:hover {
  background-color: rgb(255, 79, 79);
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-weight: bolder;
  padding: 2rem 2rem;
}

.opening {
  display: flex !important;
}

.closing {
  display: none;
}

@media only screen and (min-width: 900px) {
  .hamBurger-btn {
    display: none;
  }
  .navbar-links-ul {
    display: flex;
  }
}
/* Mobiles & Tablets */
@media only screen and (max-width: 899px) {
  .navbar-inside-wrapper {
    flex-direction: column;
  }

  .navbar-links-ul {
    width: 100%;
    flex-direction: column;
    display: none;
  }

  .hamBurger_with_branding {
    width: 80vw;
  }

  .navbar-links {
    margin-top: 20px;
  }

  .navbar-links a {
    padding: 1rem;
  }
}
